<?php

return array(
	'JWT_SECRET' => 'some_secret',
	'JWT_TTL_SECS' => 360000,
	'JWT_ISSUER' => 'http://example.org/',
	'BASE_PATH' => '/my-endpoints/',
	'HTTP_PROTOCOL' => 'http',
	'MAX_RESULTS' => 1000,
	'storageClass' => 'MongoStorage',
	'mongo' => array(
		'connect_string' => 'mongodb://Auser:aPasswd@a0.example.org:27018,a1.example.org:27018',
                'host' => 'a0.example.org',
                'port' => '27018',
                'user' => 'Auser',
                'pw' => 'aPasswd',
                'adminUser' => 'Auser',
                'adminPW' => 'aPasswd',
                'database' => 'my-endpoints',
                'connectOptions'=> array("connectTimeoutMS"=>300000,"serverSelectionTryOnce"=>false),
                'collections' => array('mdml'),
                'indices' => array(
                        'mdml' => array(
                                'mdml_endpoint' => 1,
                                'rs_md_hash' => 1,
                                'sm_loc' => 1
                        )
                )
    	),
        'db' => array(
		'connectStr' => 'mysql:host=localhost;dbname=MYmdml',
		'user' => 'some_user',
		'pw' => 'some_pw'
	),
        'namespaces' => array(
                'mdml' => 'http://data.mohistory.org/mdml/',
                'sitemap' => 'http://www.sitemaps.org/schemas/sitemap/0.9',
                'rs' => 'http://www.openarchives.org/rs/terms/'
        ),
	'loginService' => 'http://example.org/my-endpoints/login',
	'cacheDir' => '/path/to/mdml/mdmlEndpoints/cache/'
);
?>
